/* general rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 100%;
}

i {
    cursor: pointer;
}

/* main rules */

#home-page {
    width: 100vw;
    height: calc( 100vh - 90px );
    display: flex;
    justify-content: flex-start;
}

#home-left {
    width: 230px;
    height: 100%;
    overflow: hidden;
}

#home-right {
    width: calc( 100% - 230px);
    height: 100%;
}

#menu-bar {
    width: 100%;
    height: 100%;
    /* min-height: 400px; */
    background-color: #000000;
}

#top-bar {
    background-color: #000000;
    opacity: 0.8;
    width: calc(100% - 230px);
    height: 90px;
    padding: 0 5px;
    line-height: 90px;
    text-align: end;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
}

#container-song {
    background-color: #0c0f14;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

#media-player {
    width: 100vw;
    height: 90px;
    color: #fff;
    background-color: #282828;
    font-size: 0.7rem;
    padding: 7px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 999;
}

/* menu-bar */
.menu-bar {
    padding: 5px;
}

.ctn-menu-bar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* top col */
.top-col {
    width: 100%;
    height: 650px;
}

.ctn-logo {
    height: 100px;
}

.explor-menu {
    height: 150px;
}

.playlist {
    height: 400px;
}

#logo {
    width: 180px;
    height: auto;
    padding-top: 20px;
    padding-left: 20px;
}

#logo-small{
    width: 90px;
    height: auto;
    padding: 20px;
    display: none;
}

.explor-menu {
    padding-top: 30px;
}

.btn-explor-menu {
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.btn-explor-menu.select {
    border-left: solid 2px #bbff32;
}

.ctn-icon-explor-menu {
    width: 30%;
    padding-left: 20px;
}

.icon-btn {
    width: 30px;
    height: auto;
    filter: brightness(0.7);
}

.icon-btn.home {
    filter: none;
}

.name-btn {
    color: #676767;
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: none;
}

.name-btn.home {
    color: #fff;
}

.playlist {
    color: #676767;
    font-size: 1.2rem;
    font-weight: 500;
    padding-top: 10px;
    padding-left: 20px;
}

.playlist > h3 {
    color: #fff;
    font-size: 1.2rem;
}

.btn-add-playlist {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.add-playlist {
    font-size: 3rem;
    padding-right: 5px;
}

.menu-playlist {
    height: 300px;
    overflow-y: auto;
}

.menu-playlist li {
    padding-top: 10px;
    list-style: none;
}

.nome-playlist {
    color: #676767;
    text-decoration: none;
}

/* hover top col */
.btn-explor-menu:hover  * {
    filter: none;
    color: #fff;
    cursor: pointer;
}

.btn-add-playlist:hover * {
    filter: none;
    color: #fff;
    cursor: pointer;
}

.nome-playlist:hover {
    color: #fff;
}

/* bottom col */
.bottom-col {
    width: 100%;
    height: 100px;
    padding: 10px 20px;
}

.ctn-link-dwn-app, .ctn-user {
    height: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#img-dnw-app {
    width: 1.2rem;
    height: 1.2rem;
    filter: brightness(0.7);
}

#dnw-app {
    color: #676767;
    text-decoration: none;
    padding-left: 10px;
}

.bottom-col > hr {
    color: #676767;
    margin: 10px 0;
}

.bottom-col img.user {
    width: 1.5rem;
    height: 1.5rem;
    background-color: #676767;
    border-radius: 10px;
}

.name-user {
    color: #fff;
    font-size: 1.1rem;
    padding-left: 10px;
}

/* hover bottom col */
#dnw-app:hover {
    color: #fff;
}

.name-user:hover {
    cursor: text;
}

/* top-bar */

#btn-upd {
    font-size: 0.8rem;
    color: #fff;
    text-decoration: none;
    padding: 10px 50px;
    border: solid 2px #fff;
    border-radius: 20px;
    cursor: pointer;
}
/*  hover top bar */
#btn-upd:hover {
    font-size: 1.5rem;
    border-radius: 30px;
}

/* container song */
.showroom-song {
    width: 95%;
    max-width: 1980px;
    margin: 120px auto;
}

.nav-bar {
    width: 100%;
    text-align: center;
}

.nav-bar > a {
    color: #676767;
    text-decoration: none;
    padding: 0 5px;
}

a.select {
    border-bottom: solid 2px #bbff32;
}

.showroom-song  h2 {
    color: #fff;
    font-size: 2rem;
    margin-top: 50px;
    margin-bottom: 20px;
}

.list-song {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px
}

.song {
    width: calc(100% / 6 - 10px);
}

.slot-title-song {
    text-align: center;
}

.title-song {
    color: #fff;
    padding: 10px 0;
}

.subtitle {
    color: #676767;
    font-size: 0.8rem;
}

/* hover container song */
.nav-bar > a:hover {
    color: #fff;
}


/* media player */
.ctn-media-player {
    width: 230px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ctn-small-mp {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#slot-img-song-mp {
    width: 30%;
    height: auto;
}

#name-artist-mp {
    width: 70%;
    padding-left: 5px;
}

#name-artist-mp > span {
    color: #676767;
    cursor: pointer;
}

.ctn-favourite-icon {
    width: 40%;
    height: 100%;
    font-size: 1rem;
    line-height: 76px;
    text-align: center;
}

.ctn-favourite-icon > i {
    padding: 0 3px;
    color: #676767;
}

.ctn-media-player.big {
    width: 40vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.ctn-function-keys > i {
    font-size: 1.5rem;
    padding: 0 10px;
}

.ctn-time-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time {
    width: 90%;
    height: 6px;
    background-color: #5a5a5a;
    margin: 0 10px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.score-time {
    width: 25%;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    color: #fff;
    position: relative;
}

.fa-circle {
    display: none;
    font-size: 1.3rem;
    position: absolute;
    right: 0;
    translate: 50% -40%;
}

.ctn-settings-keys {
    font-size: 0.8rem;
    text-align: end;
}

.ctn-settings-keys, .ctn-volume-bar {
    width: 45%;
}

.ctn-settings-keys > i {
    padding: 7px;
}

.volume-bar {
    width: 100%;
    height: 6px;
    background-color: #5a5a5a;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.score-volume {
    width: 40%;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    color: #fff;
    position: relative;
}

/* hover section media player */
.score-time:hover {
    background-color: greenyellow;
}

.score-time:hover .fa-circle {
    display: block;
}

.score-volume:hover {
    background-color: greenyellow;
}

.score-volume:hover .fa-circle {
    display: block;
}

#name-artist-mp > span:hover {
    color: #fff;
    text-decoration: underline;
}

.ctn-favourite-icon > i:hover {
    color: #fff;
}

.fa-circle-play:hover {
    scale: 1.5;
}

@media screen and (max-width: 1440px) {
    /* conteiner song */
    .song {
        width: calc(100% / 4 - 10px);
    }
}

@media screen and (max-width: 878px) {
    /* conteiner song */
    .song {
        width: calc(100% / 3 - 10px);
    }

    /* media player section */
    .ctn-media-player.big {
        width: 30vw;
    }

    .ctn-function-keys>i {
        padding: 0 7px;
    }
}

@media screen and (max-width: 639px) {
    /* conteiner song */
    .song {
        width: calc(100% / 2 - 10px);
    }

    /* media player section */
    #media-player {
        padding: 0 3px;
        justify-content: space-around;
    }

    .ctn-media-player.left {
        width: 200px;
        justify-content: flex-start;
    }

    .ctn-small-mp {
        width: 60%;
    }

    .ctn-favourite-icon {
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .ctn-media-player.big {
        width: 230px;
    }

    .ctn-settings-keys > i {
        padding: 4px;
    }

}

@media screen and (max-width: 552px) {
    /* general rules */
    #home-left {
        width: 115px;
    }

    #home-right {
        width: calc(100% - 115px);
    }

    /* top col */
    #logo {
        display: none;
    }

    #logo-small {
        display: block;

    }

    .ctn-icon-explor-menu {
        width: 60%;
    }

    .icon-btn {
        width: 50px;
    }

    .name-btn {
        display: none;
    }

    .playlist {
        display: none;
    }

    /* bottom col */
    #dnw-app {
        display: none;
    }

    .bottom-col > hr {
        display: none;
    }

    .name-user {
        display: none;
    }

    /* top bar */
    #top-bar {
        width: calc(100% - 115px);
    }

}

@media screen and (max-height: 650px) {
    .menu-playlist {
        height: 150px;
    }
}