/* general rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

i {
    cursor: pointer;
}

/* debug */
p {
    font-size: 2rem;
}
#prova {
    width: 90%;
    max-width: 1400px;
    color: #fff;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

/* main rules */

#home-page {
    width: 100vw;
    height: calc( 100vh - 90px );
    display: flex;
}

#home-left {
    width: 230px;
    height: 100%;
}

#home-right {
    width: calc( 100% - 230px);
    height: 100%;
    background-color: aquamarine;
}

#menu-bar {
    width: 100%;
    height: 100%;
    background-color: #000000;
}

#top-bar {
    background-color: #000000;
    opacity: 0.8;
    width: 100%;
    height: 90px;
    padding: 0 5px;
    line-height: 90px;
    text-align: end;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
}

#container-song {
    background-color: #0c0f14;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

#media-player {
    width: 100vw;
    height: 90px;
    color: #fff;
    background-color: #282828;
    font-size: 0.7rem;
    padding: 7px;
    display: flex;
    justify-content: space-between;
}

/* menu-bar */

/* top-bar */

#btn-upd {
    font-size: 0.8rem;
    color: #fff;
    text-decoration: none;
    padding: 10px 50px;
    border: solid 2px #fff;
    border-radius: 20px;
    cursor: pointer;
}
/*  hover top bar */
#btn-upd:hover {
    font-size: 1.5rem;
    border-radius: 30px;
}

/* menu bar */
.menu-bar {
    padding: 5px;
}

.ctn-menu-bar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ctn1 {
    width: 100%;
    height: 50%;
    background-color: #fff;
}

.ctn2 {
    width: 100%;
    height: 20%;
    background-color: #fff;
}

/* container song */

/* media player */
.ctn-media-player {
    width: 230px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ctn-small-mp {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#slot-img-song-mp {
    width: 30%;
    height: auto;
}

#name-artist-mp {
    width: 70%;
    padding-left: 5px;
}

#name-artist-mp > span {
    color: #676767;
    cursor: pointer;
}

.ctn-favourite-icon {
    width: 40%;
    height: 100%;
    font-size: 1rem;
    line-height: 76px;
    text-align: center;
}

.ctn-favourite-icon > i {
    padding: 0 3px;
    color: #676767;
}

.ctn-media-player.big {
    width: 40vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.ctn-function-keys > i {
    font-size: 1.5rem;
    padding: 0 10px;
}

.ctn-time-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time {
    width: 90%;
    height: 6px;
    background-color: #5a5a5a;
    margin: 0 10px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.score-time {
    width: 25%;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    color: #fff;
    position: relative;
}

.fa-circle {
    display: none;
    font-size: 1.3rem;
    position: absolute;
    right: 0;
    translate: 50% -40%;
}

.ctn-settings-keys {
    font-size: 0.8rem;
    text-align: end;
}

.ctn-settings-keys, .ctn-volume-bar {
    width: 45%;
}

.ctn-settings-keys > i {
    padding: 7px;
}

.volume-bar {
    width: 100%;
    height: 6px;
    background-color: #5a5a5a;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.score-volume {
    width: 40%;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    color: #fff;
    position: relative;
}
/* hover section media player */
.score-time:hover {
    background-color: greenyellow;
}

.score-time:hover .fa-circle {
    display: block;
}

.score-volume:hover {
    background-color: greenyellow;
}

.score-volume:hover .fa-circle {
    display: block;
}

#name-artist-mp > span:hover {
    color: #fff;
    text-decoration: underline;
}

.ctn-favourite-icon > i:hover {
    color: #fff;
}

.fa-circle-play:hover {
    scale: 1.5;
}

@media screen and (max-width: 878px) {
    
    /* media player section */
    .ctn-media-player.big {
        width: 30vw;
    }

    .ctn-function-keys>i {
        padding: 0 7px;
    }
}

@media screen and (max-width: 639px) {
    
    /* media player section */
    #media-player {
        padding: 0 3px;
        justify-content: space-around;
    }

    .ctn-media-player.left {
        width: 200px;
        justify-content: flex-start;
    }

    .ctn-small-mp {
        width: 60%;
    }

    .ctn-favourite-icon {
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .ctn-media-player.big {
        width: 230px;
    }

    .ctn-settings-keys > i {
        padding: 4px;
    }

}

@media screen and (max-width: 552px) {
    
    /* media player section */
    

}